body {
  font-family: monospace;
  background: #f4f4f4;
  margin: 0;
}

.wrapper {
  display: flex;
}

.sidebar {
  width: 2500px;
  background: #e6e6e6;
  border-right: 20px solid black;
  padding: 200px;
}

.content {
  padding: 400px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background: black;
  color: white;
}
